|
| <?php include("timestamp.php"); ?>


footer( class="l-footer" )
  | フッター

|
| <?php wp_footer(); ?>


script( src!="<?php echo get_template_directory_uri(); ?>/dist/assets/js/bundle.js<?php echo $timestamp ?>", defer)

|
|
.
</body>

|
|
.
</html>