doctype
|
|
.
<html lang="ja">
  head
    //-
      Google Tag Manager
    .
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-CPX04W83CJ"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-CPX04W83CJ');
      </script>
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title.
        <?php bloginfo('name'); ?> <?php wp_title('|'); ?> | I&S Production
    meta(name="description", content!="<?php echo get_description(); ?>")
    meta( property="og:type", content="website")
    meta( property="og:locale" content="ja_JP" )
    meta( property="og:site_name", content!="<?php bloginfo('name'); ?> <?php wp_title('|'); ?>" )
    meta( property="og:title", content!="<?php bloginfo('name'); ?> <?php wp_title('|'); ?>" )
    meta( property="og:description", content!="<?php echo get_description(); ?>" )
    meta( name="twitter:card", content="summary_large_image" )
    meta( name="twitter:domain", content="https://www.ins-production.com" )
    .
      <?php if ( has_post_thumbnail() && ( !is_home() && !is_front_page() )) : ?>
    meta( roperty="og:image", content!="<?php the_post_thumbnail_url(); ?>" )
    meta( name="twitter:image", content!="<?php the_post_thumbnail_url(); ?>" )
    .
      <?php else: ?>
    meta( property="og:image", content="https://www.ins-production.com/assets/img/common/ogp.png" )
    meta( name="twitter:image", content="https://www.ins-production.com/assets/img/common/ogp.png" )
    .
      <?php endif; ?>
    link( rel="preconnect", href="https://fonts.googleapis.com" )
    link( rel="preconnect", href="https://fonts.gstatic.com", crossorigin )
    link( href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Noto+Sans+JP:wght@400;700&display=swap", rel="stylesheet" )
    link( rel="icon", href!="<?php bloginfo( 'stylesheet_directory' ); ?>/favicon.png" )
    link( href!="<?php bloginfo( 'stylesheet_directory' ); ?>/dist/assets/css/style.css", rel="stylesheet" )
    |
    | <?php
    |   if(has_action('wp_head', '_admin_bar_bump_cb' )) remove_action('wp_head', '_admin_bar_bump_cb');
    |   wp_head();
    | ?>
    |  <?php wp_head(); ?>
  .
    <body>
  //-
    Google Tag Manager (noscript)
  .
    <?php $isTopPage = is_front_page() ? 'l-header--top' : '' ?>
  header( class!="l-header <?php echo $isTopPage ?>" )
    nav( class="l-header__inner" )
      div( class="l-header__logoMenuContainer" )
        a( class="l-header__logo", href="/" )
          img( class="l-header__logoImage", src!="<?php bloginfo( 'stylesheet_directory' ); ?>/dist/assets/img/common/logo.svg", alt="I&S Productionのロゴ画像" )
        div( class="l-header__spMenuButton", id="js-spMenuButton" )
          div( class="l-header__spMenuBorder l-header__spMenuBorder--top" )
          div( class="l-header__spMenuBorder l-header__spMenuBorder--bottom" )
      ul( class="l-header__nav", id="js-headerNav" )
        li( class="l-header__item" )
          a( class="l-header__link", href="#" )
            | 撮影事例
        li( class="l-header__item" )
          a( class="l-header__link", href="#" )
            | 私たちについて
        li( class="l-header__item" )
          a( class="l-header__link", href="#" )
            | 料金プラン
        li( class="l-header__item" )
          a( class="l-header__link l-header__link--button", href="#" )
            | お問い合わせ・お見積り

