:php get_header();
include component/_button.pug




article( class="l-main top" )

  //- main visual(mv)
  section( class="mv" id="mv" )
    div( class="mv__inner" )
      div( class="mv__container" )
        img( src!="<?php bloginfo( 'stylesheet_directory' ); ?>/dist/assets/img/common/ornaments/dots-green.svg", class="mv__ornament mv__ornament--green", alt="" )
        div( class="mv__leftContainer" )
          div( class="mv__liquidShape" )
          div( class="mv__liquidShape mv__liquidShape--reverse" )
          div( class="mv__textWrap" )
            h1( class="mv__tagline" )
              | クラウドファンディングに<br>特化した写真・動画の撮影
            p( class="mv__description" )
              | I&Sなら高品質で安価な撮影が可能です
        div( class="mv__rightContainer" )
          div( class="mv__movieWrap" )
            div( class="mv__movie" )
              video( poster!="<?php bloginfo( 'stylesheet_directory' ); ?>/dist/assets/img/index/poster.jpeg", loop, muted, autoplay, playsinline )
                source( src!="<?php bloginfo( 'stylesheet_directory' ); ?>/dist/assets/img/index/mv.mp4", type="video/mp4" )
            a( href="#", class="mv__movieLink", target="_blank" )
              span( class="mv__movieLinkText" )
                | フルバージョンの動画を見る
                img( src!="<?php bloginfo( 'stylesheet_directory' ); ?>/dist/assets/img/common/icons/external.svg", class="mv__movieLinkImage", alt="" )
        img( src!="<?php bloginfo( 'stylesheet_directory' ); ?>/dist/assets/img/common/ornaments/dots-orange.svg", class="mv__ornament mv__ornament--orange", alt="" )
    div( class="mv__scrollLine" )
      span( class="mv__scrollText" )
        | S<br>C<br>R<br>O<br>L<br>L
  //- .
  //-   <?php
  //-     $args = array('post_type' => 'works', 'posts_per_page' => 5);
  //-     $the_query = new WP_Query($args); if($the_query->have_posts()):
  //-   ?>
  //-   <?php while ($the_query->have_posts()): $the_query->the_post(); ?>
  //-   <?php endwhile; ?>
  //-   <?php echo get_the_title(); ?>
  //-   <?php the_content(); ?>
  //-   <?php else: ?>
  //-   <?php endif; ?>
  //- About us
  section( class="l-section aboutUs" )
    div( class="l-section__inner" )
      div( class="l-section__textWrap")
        small( class="l-section__H2English" )
          | About us
        h2( class="l-section__H2" )
          | クラファンに最適なイメージをご提供します
      div( class="aboutUs__tabButtonContainer", id="js-tab" )
        ul( class="aboutUs__tabButtonList" )
          li( class="aboutUs__tabButtonItem is-active" )
            div( class="aboutUs__tabButtonInner" )
              img( src!="<?php bloginfo( 'stylesheet_directory' ); ?>/dist/assets/img/common/icons/crowdfunding.svg", class="aboutUs__tabButtonIcon aboutUs__tabButtonIcon--crowdfunding", alt="" )
              h3( class="aboutUs__tabButtonText" )
                | クラウドファンディング<br>に特化している理由
          li( class="aboutUs__tabButtonItem" )
            div( class="aboutUs__tabButtonInner" )
              img( src!="<?php bloginfo( 'stylesheet_directory' ); ?>/dist/assets/img/common/icons/price.svg", class="aboutUs__tabButtonIcon aboutUs__tabButtonIcon--price", alt="" )
              h3( class="aboutUs__tabButtonText" )
                | 他社より安く<br>提供できる理由
        div( class="aboutUs__tabContentContainer" )
          div( class="aboutUs__tabContent aboutUs__tabContent--crowdfunding is-active" )
            | クラウドファンディングの講師も務める知識豊富なカメラマンが、クラファンで映える写真・動画コンテンツをワンストップで制作いたします。キャンペーンが終わった後もECサイトなどで使用できることを想定した、高いクオリティのイメージが作成可能です。
          div( class="aboutUs__tabContent aboutUs__tabContent--price" )
            | I&Sではクラウドファンディングの撮影に特化して制作フローを効率化しているため、簡単なイメージの聞き取りとプロダクト情報のご提示だけで、スピーディ且つ低予算でのコンテンツの制作が可能です。<br><br>
      +button( '#', 'もっと詳しく知る' )( class="aboutUs__moreButton" )

  //- Strength
  section( class="l-section l-section--bgGradientGtoO strength" )
    div( class="l-section__inner" )
      div( class="l-section__textWrap")
        small( class="l-section__H2English" )
          | Strength
        h2( class="l-section__H2" )
          | I&S撮影スタジオが<br class="u-onlySP">できること
        p( class="l-section__leadPragraph" )
          | クラウドファンディングの<br class="u-onlySP">撮影だけではありません
      div( class="strength__container" )
        div( class="stregth__inner" )
          div( class="strength__textBox" )
            h3( class="strength__h3" )
              img( src!="<?php bloginfo( 'stylesheet_directory' ); ?>/dist/assets/img/common/icons/pen.svg", class="strength__h3Icon", alt="" )
              span( class="strength__h3Text" )
                | ライティングの相談
            p( class="strength__description" )
              | 支援額4000万円を超えるプロジェクトなど、数多くのクラウドファンディングのランディングページを手がけたライターが文章の執筆をいたします。
          div( class="strength__hr" )
          div( class="strength__textBox" )
            h3( class="strength__h3" )
              img( src!="<?php bloginfo( 'stylesheet_directory' ); ?>/dist/assets/img/common/icons/moviePicture.svg", class="strength__h3Icon", alt="" )
              span( class="strength__h3Text" )
                | 幅広いジャンルの写真・動画制作
            p( class="strength__description" )
              | クラウドファンディングに限らず、ECサイトや雑誌などで使用する幅広い種類の商品撮影の他、インタビューやドキュメンタリーの撮影も可能です。


  //- Works
  section( class="l-section works" )
    div( class="l-section__inner" )
      div( class="l-section__textWrap")
        small( class="l-section__H2English" )
          | Works
        h2( class="l-section__H2" )
          | 撮影事例
        p( class="l-section__leadPragraph" )
          | クラウドファンディングサイトmachi-yaで、当時最高額の支援額となる4400万円を売り上げた超薄型財布「Tenuis3」や、<br>OIOI（マルイ）がライフハッカー［日本版］編集部とタッグを組み製作したバックパック「Teleffice」などを担当。
      div( class="works__container" )
        ul( class="works__list" )
          li( class="works__item" )
            a( class="works__link", href="#" )
              div( class="works__thumbWrap" )
                img( class="works__thumb", src="https://images.unsplash.com/photo-1657299170935-31e068229885?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80", alt="" )
              div( class="works__textWrap" )
                h3( class="works__h3" )
                  | INTERSTATE DESIGN 様
                p( class="works__description" )
                  | 文章だけで伝えられない部分を視覚化し「オンリーワン」の世界観を持つ写真や動画に仕上げられるチーム
                div( class="works__categories" )
                  span( class="works__categoryTitle" )
                    | カテゴリ：
                  ul( class="works__categoryList" )
                    li( class="works__categoryItem" )
                      | 写真・動画撮影
            a( class="works__voice", href="#" )
              | お客様の声
          li( class="works__item" )
            a( class="works__link", href="#" )
              div( class="works__thumbWrap" )
                img( class="works__thumb", src="https://images.unsplash.com/photo-1657299170935-31e068229885?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80", alt="" )
              div( class="works__textWrap" )
                h3( class="works__h3" )
                  | INTERSTATE DESIGN 様
                p( class="works__description" )
                  | 文章だけで伝えられない部分を視覚化し「オンリーワン」の世界観を持つ写真や動画に仕上げられるチーム
                div( class="works__categories" )
                  span( class="works__categoryTitle" )
                    | カテゴリ：
                  ul( class="works__categoryList" )
                    li( class="works__categoryItem" )
                      | 写真・動画撮影
            a( class="works__voice", href="#" )
              | お客様の声
          li( class="works__item" )
            a( class="works__link", href="#" )
              div( class="works__thumbWrap" )
                img( class="works__thumb", src="https://images.unsplash.com/photo-1657299170935-31e068229885?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80", alt="" )
              div( class="works__textWrap" )
                h3( class="works__h3" )
                  | INTERSTATE DESIGN 様
                p( class="works__description" )
                  | 文章だけで伝えられない部分を視覚化し「オンリーワン」の世界観を持つ写真や動画に仕上げられるチーム
                div( class="works__categories" )
                  span( class="works__categoryTitle" )
                    | カテゴリ：
                  ul( class="works__categoryList" )
                    li( class="works__categoryItem" )
                      | 写真・動画撮影
            a( class="works__voice", href="#" )
              | お客様の声
          li( class="works__item" )
            a( class="works__link", href="#" )
              div( class="works__thumbWrap" )
                img( class="works__thumb", src="https://images.unsplash.com/photo-1657299170935-31e068229885?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80", alt="" )
              div( class="works__textWrap" )
                h3( class="works__h3" )
                  | INTERSTATE DESIGN 様
                p( class="works__description" )
                  | 文章だけで伝えられない部分を視覚化し「オンリーワン」の世界観を持つ写真や動画に仕上げられるチーム
                div( class="works__categories" )
                  span( class="works__categoryTitle" )
                    | カテゴリ：
                  ul( class="works__categoryList" )
                    li( class="works__categoryItem" )
                      | 写真・動画撮影
            a( class="works__voice", href="#" )
              | お客様の声
      +button( '#', 'もっと事例を見る' )( class="works__moreButton" )

  //- Plan
  section( class="l-section l-section--bgGradientGtoO plan" )
    div( class="l-section__inner" )
      div( class="l-section__textWrap")
        small( class="l-section__H2English" )
          | Plan
        h2( class="l-section__H2" )
          | 料金プラン
      div( class="" )

  //- Flow
  section( class="l-section works" )
    div( class="l-section__inner" )
      div( class="l-section__textWrap")
        small( class="l-section__H2English" )
          | Flow
        h2( class="l-section__H2" )
          | ご依頼から納品までの流れ
        p( class="l-section__leadPragraph" )
          | サンプルの受け取りから最短で<br class="u-onlySP">2週間の納品が可能です。
      div( class="" )


:php get_footer();