:php
    /*
    Template Name: About Us
    */
include layout/_subHeader.pug



:php get_header();



//- common parts
+subHeader( 'About Us', '私たちについて' )
nav( class="l-breadcrumb" )
    ul( class="l-breadcrumb__list" )
        li( class="l-breadcrumb__item" )
            a( class="l-breadcrumb__link", href="/" )
                img( class="l-breadcrumb__homeIcon", src!="<?php bloginfo( 'stylesheet_directory' ); ?>/dist/assets/img/common/icons/home.svg", alt="" )
                span( class="l-breadcrumb__text" )= 'ホーム'
            img( class="l-breadcrumb__arrowIcon", src!="<?php bloginfo( 'stylesheet_directory' ); ?>/dist/assets/img/common/icons/arrow-right.svg", alt="" )
        li( class="l-breadcrumb__item" )
            span( class="l-breadcrumb__text" )= '私たちについて'

//- section
article( class="l-main", id="aboutUs" )
    section( class="aboutUs" )
        div( class="aboutUs__container" )
            div( class="aboutUs__personWrap" )
                div( class="aboutUs__personThumbWrap" )
                    div( class="aboutUs__personThumbImage" )
                div( class="aboutUs__personTextWrap" )
                    small( class="aboutUs__personPosition" )
                        | カメラマン - 写真担当 / プロジェクトマネージャー
                    p( class="aboutUs__personName" )
                        | 吉田 祥平
            p( class="aboutUs__description" )
                | ニューヨーク州立大学プラッツバーグ校で学士、ウェスタンミシガン大学で人類学の修士号を取得。卒業後は内閣府心理関係有識者ミーティング、環境省Ｇ７海洋問題国際会議などで通訳者として活躍。<br class="u-onlyPC">その後株式会社パソナにて、横浜市が運営する横浜ワールドビジネスサポートセンターのマネージャー、東京都が実施する産業交流展における海外企業ブースの運営責任者などを通して活躍。<br class="u-onlyPC">同社を退社後、月間1億3000万PVを超すLifehackerやGizmodeといったメディアへの記事提供と、同社が運営するクラウドファンディングサイト「machi-ya」にてクラウドファンディングの公式紹介ページの作成・それに伴う商品プロモーションイメージの撮影・編集を行う。その中でクラウドファンディングに特化したプロダクションの設立の必要性を感じ、山崎いおんとI&S撮影スタジオを設立。
        div( class="aboutUs__container" )
            div( class="aboutUs__personWrap" )
                div( class="aboutUs__personThumbWrap" )
                    div( class="aboutUs__personThumbImage" )
                div( class="aboutUs__personTextWrap" )
                    small( class="aboutUs__personPosition" )
                        | カメラマン - 動画担当
                    p( class="aboutUs__personName" )
                        | 山崎いおん
            p( class="aboutUs__description" )
                | カリフォルニア州立大学ロングビーチ校で学士、ジョージア州立大学で芸術学の修士号を取得。卒業後は大学での非常勤講師を経て東京の現代アートギャラリー、シュウゴアーツにてアシスタントを務める。<br class="u-onlyPC">同社を退社後吉田祥平とI&S撮影スタジオを設立。写真、動画の撮影編集を通し新しい商品の素晴らしさを分かりやすく紹介することに奮闘中。
        div( class="aboutUs__sns" )
            p( class="aboutUs__snsTitle" )
                | I&S Production’s SNS 
            a( class="aboutUs__snsLink", href="#", target="_blank" )
                img( class="aboutUs__snsIcon", src!="<?php bloginfo( 'stylesheet_directory' ); ?>/dist/assets/img/common/icons/instagram.png", alt="Instagram")
                span( class="aboutUs__snsText" )
                    | Instagram




:php get_footer();