mixin subHeader( label, title )
    div( class="l-subHeader" )
        div( class="l-subHeader__container" )
            small( class="l-subHeader__en" )!= label
            h1( class="l-subHeader__h1" )!= title
