//- break point（ use to picture tag ）
- var breakPoinstSP = '(max-width: 1024px)';

//- path
- var assetsPath = "<?php echo get_stylesheet_directory_uri() ?>/dist/assets/";

//- plan
- var lpOptionalPlanPrice = '50,000円';
- var narrationPlanPrice = '360,000円';
- var basicPlanPrice = '300,000円';
- var pictrePlanPrice = '100,000円';