@use "../../foundation/var";
@use "../../foundation/mixin";


.c-card {
    position: relative;
    top: 0;
    max-width: 420px;
    width: 100%;
    background-color: var.$color-white;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
    @include mixin.media-pc() {
        &:nth-child(even) {
            top: 100px;
        }
    }
}

.c-card__link {
    width: 100%;
    height: 100%;
    &:hover {
        .c-card__thumb {
            transform: scale(1.4);
        }
    }
}

.c-card__thumbWrap {
    height: 236px;
    overflow: hidden;
}

.c-card__thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform .6s;
}

.c-card__textWrap {
    margin: 28px 20px;
    display: grid;
    gap: 12px;
}

.c-card__h3 {
    @include mixin.font-style($w: bold);
    color: var.$color-text-base;
}

.c-card__categories {
    @include mixin.font-style($s: fs-12, $w: bold);
    color: var.$color-text-green-light;
    display: flex;
}

.c-card__categoryTitle {
    white-space: nowrap;
}

.c-card__categoryList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.c-card__voice {
    @include mixin.font-style($w: bold, $lh: none);
    @include mixin.hover-transparent();
    color: var.$color-primary;
    background: linear-gradient(105.13deg, #F3F3D6 1.9%, #D6F4E8 100%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    width: 90.47%;
    margin-top: 12px;
    margin-bottom: 20px;
}

.c-card__moreButton {
    margin-top: 80px;
    @include mixin.media-sp() {
        margin-top: 48px;
    }
}
