mixin section( label, title, description )
  section( class!=attributes.class ? 'l-section aboutUs ' + attributes.class : 'l-section aboutUs' )
    div( class="l-section__inner" )
        div( class="l-section__textWrap")
            small( class="l-section__H2English" )= label
            h2( class="l-section__H2" )!= title
            if description
                p( class="l-section__leadPragraph" )!= description
        block

