@use "../../foundation/var";
@use "../../foundation/mixin";

/*--------------------------------------------------------------------------
  utility class
---------------------------------------------------------------------------*/
.u-onlyPC {
    @include mixin.media-sp() {
        display: none;
    }
}

.u-onlySP {
    @include mixin.media-pc() {
        display: none;
    }
}

.u-bold {
    font-weight: var.$fw-700;
}