@use "../foundation/var";
@use "../foundation/mixin";


.l-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: var.$color-white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    @include mixin.media-sp() {
        height: var.$header-height;
    }

    &--top {
        position: absolute;
        top: 40px;
        background-color: transparent;
        box-shadow: none;
        @include mixin.media-sp() {
            position: fixed;
            top: 0;
            background-color: var.$color-white;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
        }
    }
}

.l-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    width: 100%;
    @include mixin.media-sp() {
        padding: 0;
    }
}

.l-header__logoMenuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mixin.media-sp() {
        width: 100%;
        padding: 0 8px 0 16px;
    }
}

.l-header__spMenuButton {
    display: none;
    @include mixin.media-sp() {
        display: flex;
        flex-direction: column;
        padding: 8px;
        gap: 2px;
        &.is-active {
            .l-header__spMenuBorder {
                &--top {
                    transform: translate(0, 4px) rotate(45deg);
                }

                &--bottom {
                    transform: translate(0, -2px) rotate(-45deg);
                }
            }
        }
    }
}

.l-header__spMenuBorder {
    width: 24px;
    height: 4px;
    border-radius: 100vh;
    background-color: var.$color-text-base;
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.l-header__logo {
    @include mixin.hover-transparent();
}

.l-header__logoImage {
    @include mixin.media-sp() {
        max-width: 140px;
    }
}

.l-header__nav {
    display: flex;
    align-items: center;
    gap: 36px;
    @include mixin.media-sp() {
        position: fixed;
        top: var.$header-height;
        padding-top: 60px;
        gap: 28px;
        border-top: 1px solid var.$color-primary-light;
        flex-direction: column;
        background-color: var.$color-white;
        height: calc(100vh);
        width: 100%;
        overflow-x: visible;
        overflow-y: scroll;
        opacity: 0;
        pointer-events: none;
        transition:
            gap 0.8s var.$ease-out-back,
            opacity 0.8s var.$ease-out-back;
        &.is-active {
            opacity: 1;
            pointer-events: initial;
            gap: 40px;
        }
    }
}

.l-header__item {
    @include mixin.font-style($s: fs-14, $lh: none);
    @include mixin.media-sp() {
        &:last-child {
            margin-bottom: 120px;
        }
    }
}

.l-header__link {
    @include mixin.font-style($s: fs-14, $w: bold);
    @include mixin.hover-text();
    @include mixin.media-sp() {
        @include mixin.font-style($s: fs-20, $w: bold);
    }

    &.is-current {
        color: var.$color-primary;
    }

    &--button {
        @include mixin.hover-button-btg();
        padding: 12px 24px;
        color: var.$color-white;
        // background: var.$color-lg-blue-to-green;
        border-radius: 100vh;
    }
}