@use "../foundation/var";
@use "../foundation/mixin";


/*--------------------------------------------------------------------------
  introduction
---------------------------------------------------------------------------*/
#aboutUs {

    .introduction {
        max-width: 800px;
        margin: 60px auto 0;
        display: grid;
        gap: 40px;
        padding: 0 0 80px 0;
        @include mixin.media-sp() {
            padding: 0 20px 40px;
            margin: 40px auto 0;
        }
    }

    .introduction__container {
        display: grid;
        gap: 16px;
    }

    .introduction__personWrap {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .introduction__personThumbWrap {
        width: 68px;
        height: 68px;
        border-radius: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(45deg, rgba(125, 212, 110, 0.32) 0%, rgba(240, 213, 68, 0.32) 100%);
        @include mixin.media-sp() {
            min-width: 68px;
            min-height: 68px;
        }
    }

    .introduction__personThumbImage {
        max-width: 88.23%;
        border-radius: 100vh;
    }

    .introduction__personTextWrap {
        display: grid;
        gap: 4px;
    }

    .introduction__personPosition {
        @include mixin.font-style($s: fs-12, $w: bold);
    }

    .introduction__personName {
        @include mixin.font-style($s: fs-20, $w: bold, $lh: none);
    }

    .introduction__sns {
        max-width: 360px;
        width: 100%;
        margin: 0 auto;
        padding: 28px 0;
        border-radius: 4px;
        border: 1px solid #CDDFC7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .introduction__snsTitle {
        @include mixin.font-style($w: bold, $lh: none);
        background: linear-gradient(108.01deg, #F0C21A -25.59%, #30C78C 96.36%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .introduction__snsLink {
        @include mixin.hover-transparent();
        display: flex;
        align-items: center;
        margin-top: 20px;
        gap: 8px;
    }

    .introduction__snsIcon {
        max-width: 20px;
    }

    .introduction__snsText {
        @include mixin.font-style($s: fs-12, $w: bold);
    }

}




/*--------------------------------------------------------------------------
  tab
---------------------------------------------------------------------------*/
#aboutUs {

    .aboutUs {
        max-width: 800px;
        margin: 0 auto;
        @include mixin.media-sp() {
            max-width: 100%;
        }
    }
    
    .aboutUs__tabButtonList {
        max-width: 492px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        @include mixin.media-sp() {
            max-width: 100%;
        }
    }
    
    .aboutUs__tabButtonItem {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 8px;
        width: 216px;
        height: 216px;
        background-color: var.$color-primary;
        box-shadow: 0px 4px 4px rgba(4, 83, 41, 0.16);
        border: 4px solid var.$color-primary;
        transition: background-color .3s, border .3s;
        &:hover {
            background-color: var.$color-primary-dark;
        }
        @include mixin.media-sp() {
            width: 43.73vw;
            height: auto;
            padding: 20px 0;
        }
    
        &.is-active {
            border: 4px solid  var.$color-primary-dark;
            background-color: var.$color-primary;
        }
    }
    
    .aboutUs__tabButtonInner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
    
    .aboutUs__tabButtonIcon {
        &--crowdfunding {
            @include mixin.media-sp() {
                width: 36px;
            }
        }
        &--price {
            @include mixin.media-sp() {
                width: 28px;
            }
        }
    }
    
    .aboutUs__tabButtonText {
        @include mixin.font-style($s: fs-14, $w: bold, $a: center);
        color: var.$color-white;
        @include mixin.media-sp() {
            @include mixin.font-style($s: fs-12, $w: bold, $a: center);
        }
    }
    
    .aboutUs__tabContentContainer {
        margin-top: 36px;
    }
    
    .aboutUs__tabContent {
        position: relative;
        padding: 32px 28px;
        background-color: var.$color-primary-light;
        display: none;
        &:before {
            content: " ";
            display: block;
            position: absolute;
            top: -24px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 14px 24px 14px;
            border-color: transparent transparent var.$color-primary-light transparent;
        }
        &.is-active {
            display: block;
        }
    
        &--crowdfunding {
            &:before {
                left: 248px;
                @include mixin.media-sp() {
                    left: 20.4%;
                }
            }
        }
    
        &--price {
            &:before {
                right: 248px;
                @include mixin.media-sp() {
                    right: 20.4%;
                }
            }
        }
    }
    
    .aboutUs__moreButton {
        margin-top: 60px;
        @include mixin.media-sp() {
            margin-top: 48px;
        }
    }

}




/*--------------------------------------------------------------------------
  swiper（https://swiperjs.com/）
---------------------------------------------------------------------------*/
#aboutUs {

    .aboutUs__swiperContainer {
        position: relative;
        margin: 0 auto;
        max-width: 676px;
        height: 451px;
        @include mixin.media-sp() {
            max-width: 100%;
            margin: 0 20px;
            height: 64vw;
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        @include mixin.media-sp() {
            width: 96%;
        }
    }

    .swiper__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper__next,
    .swiper__prev {
        width: 48px;
        height: 48px;
        border-radius: 100vh;
        background-color: var.$color-white;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
        @include mixin.hover-transparent(0.7);
        @include mixin.media-sp() {
            width: 28px;
            height: 28px;
        }

        &::after {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: cover;
            @include mixin.font-style();
            color: var.$color-primary;
        }
    }

    .swiper__next {
        right: -24px;
        &::after {
            background-image: url('#{var.$assetsPath}img/aboutUs/swiper/arrow-right.svg');
        }
        @include mixin.media-sp() {
            right: -8px;
        }
    }

    .swiper__prev {
        left: -24px;
        &::after {
            background-image: url('#{var.$assetsPath}img/aboutUs/swiper/arrow-left.svg');
        }
        @include mixin.media-sp() {
            left: -8px;
        }
    }

    .swiper__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: linear-gradient(45deg, rgba(125, 212, 110, 0.08) 0%, rgba(240, 213, 68, 0.08) 100%);
        bottom: -24px;
        right: -24px;
        @include mixin.media-sp() {
            width: 96%;
            height: 64vw;
            bottom: -12px;
            right: -6px;
        }
    }

}