@use "../foundation/var";
@use "../foundation/mixin";


/*--------------------------------------------------------------------------
  mv
---------------------------------------------------------------------------*/

.mv {
    position: relative;
    background: var.$color-lg-green-to-orange;
    width: 100%;
    height: 100vh;
    padding: 20px;
    @include mixin.media-sp() {
        height: auto;
        padding: 16px;
        margin-top: var.$header-height;
    }
}

.mv__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var.$color-white;
    @include mixin.media-sp() {
        align-items: flex-start;
        padding-bottom: 92px;
    }
}

.mv__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86.5vw;
    @include mixin.media-sp() {
        flex-direction: column;
        width: 80.8vw;
    }
}

.mv__ornament {
    position: absolute;
    width:  14.55vw;
    @include mixin.media-sp() {
        display: none;
    }

    &--green {
        top: -24%;
        right: -36px;
    }

    &--orange {
        bottom: -28%;
        left: -36px;
    }
}

.mv__leftContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    @include mixin.media-sp() {
        margin-top: 60px;
    }
}

.mv__rightContainer {
    @include mixin.media-sp() {
        margin-top: 40px;
    }
}

.mv__liquidShape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 72%;
    height: 0;
    padding-bottom: 72%;
    background: linear-gradient(45deg, rgba(125, 212, 110, 0.08) 0%, rgba(240, 213, 68, 0.08) 100%);
    animation: liquidShape 20s ease 0s infinite;
    @include mixin.media-sp() {
        height: 38px;
        width: 48%;
        padding-bottom: 48%;
    }

    &--reverse {
        animation: liquidShape 12s ease 0s infinite;
        animation-direction: alternate;
        opacity: 0.4;
    }
}

.mv__textWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    @include mixin.media-sp() {
        gap: 16px;
    }
}

.mv__tagline {
    @include mixin.font-style($s: fs-40, $w: bold);
    font-size: 2.645vw; // レスポンシブ対応のためfont-size上書き
    color: var.$color-primary;
    @include mixin.media-sp() {
        font-size: 6.4vw;
    }
}

.mv__description {
    @include mixin.font-style($lh: none);
    font-size: 1.058vw; // レスポンシブ対応のためfont-size上書き
    color: var.$color-text-green;
    @include mixin.media-sp() {
        font-size: 4.5vw;
    }
}

.mv__movieWrap {
    position: relative;
    text-align: center;
}

.mv__movie {
    position: relative;
    width: 48.67vw;
    @include mixin.media-sp() {
        width: 100%;
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 8px;
        display: block; 
        position: absolute;
        top: 40px;
        left: 40px;
        background: linear-gradient(45deg, rgba(125, 212, 110, 0.08) 0%, rgba(240, 213, 68, 0.08) 100%);
        @include mixin.media-sp() {
            top: 12px;
            left: 12px;
        }
    }

    > video {
        position: relative;
        z-index: 1;
        border-radius: 8px;
    }
    
}

.mv__movieLink {
    @include mixin.hover-button-gto();
    display: inline-block;
    padding: 28px 24px;
    margin: 0 auto;
    position: relative;
    top: -24px;
    z-index: 2;
    @include mixin.media-sp() {
        padding: 20px 20px 24px;
        top: -12px;
    }
}

.mv__movieLinkText {
    @include mixin.font-style($w: bold);
    color: var.$color-white;
    display: flex;
    align-items: center;
    gap: 8px;
    @include mixin.media-sp() {
        @include mixin.font-style($s: fs-14, $w: bold);
    }
}

// liquid shape animation
@keyframes liquidShape {  
    
    0%, 100% {
        border-radius: 46% 54% 70% 30% / 48% 37% 63% 52%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
        
}

.mv__scrollLine {
    position:absolute;
    left:50%;
    bottom:0;
    height:133px;
    @include mixin.media-sp() {
        height: 92px;
    }

    &::before {
        content: " ";
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        background: #BBF8E9;
        display: block;
    }

    &::after {
        content: "";
            /*描画位置*/
        position: absolute;
        top: 0;
            /*線の形状*/
        width: 1px;
        height: 100%;
        background: var.$color-primary;
            /*線の動き1.4秒かけて動く。永遠にループ*/
        animation: scrollLinePC 1.4s ease-in-out infinite;
        opacity:0;
        display: block;
        @include mixin.media-sp() {
            animation: scrollLineSP 1.4s ease-in-out infinite;
        }
    }
}

.mv__scrollText {
    @include mixin.font-style($s: fs-12, $w: bold);
    line-height: 1.2;
    font-family: var.$font-en;
    position: absolute;
    left: 12px;
    top: 8px;
    color: var.$color-primary;
    @include mixin.media-sp() {
        font-size: 10px;
        line-height: 1.1;
    }
}

// scroll line animation
@keyframes scrollLinePC {
    0%{
      height: 0;
      top: 0;
      opacity: 0;
    }
    30%{
      height: 60px;
      opacity: 1;
      @include mixin.media-sp() {
        height: 30px;
      }
    }
    100%{
      height: 0;
      top: 132px;
      opacity: 0;
      @include mixin.media-sp() {
        top: 102px;
      }
    }
}
@keyframes scrollLineSP {
    0%{
      height: 0;
      top: 0;
      opacity: 0;
    }
    30%{
      height: 30px;
      opacity: 1;
    }
    100%{
      height: 0;
      top: 92px;
      opacity: 0;
    }
}




/*--------------------------------------------------------------------------
  about us
---------------------------------------------------------------------------*/

.aboutUs__tabButtonContainer {
    max-width: 800px;
    margin: 0 auto;
    @include mixin.media-sp() {
        max-width: 100%;
    }
}

.aboutUs__tabButtonList {
    max-width: 492px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include mixin.media-sp() {
        max-width: 100%;
    }
}

.aboutUs__tabButtonItem {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    width: 216px;
    height: 216px;
    background-color: var.$color-primary;
    box-shadow: 0px 4px 4px rgba(4, 83, 41, 0.16);
    border: 4px solid var.$color-primary;
    transition: background-color .3s, border .3s;
    &:hover {
        background-color: var.$color-primary-dark;
    }
    @include mixin.media-sp() {
        width: 43.73vw;
        height: auto;
        padding: 20px 0;
    }

    &.is-active {
        border: 4px solid  var.$color-primary-dark;
        background-color: var.$color-primary;
    }
}

.aboutUs__tabButtonInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.aboutUs__tabButtonIcon {
    &--crowdfunding {
        @include mixin.media-sp() {
            width: 36px;
        }
    }
    &--price {
        @include mixin.media-sp() {
            width: 28px;
        }
    }
}

.aboutUs__tabButtonText {
    @include mixin.font-style($s: fs-14, $w: bold, $a: center);
    color: var.$color-white;
    @include mixin.media-sp() {
        @include mixin.font-style($s: fs-12, $w: bold, $a: center);
    }
}

.aboutUs__tabContentContainer {
    margin-top: 36px;
}

.aboutUs__tabContent {
    position: relative;
    padding: 32px 28px;
    background-color: var.$color-primary-light;
    display: none;
    &:before {
        content: " ";
        display: block;
        position: absolute;
        top: -24px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 14px 24px 14px;
        border-color: transparent transparent var.$color-primary-light transparent;
    }
    &.is-active {
        display: block;
    }

    &--crowdfunding {
        &:before {
            left: 248px;
            @include mixin.media-sp() {
                left: 20.4%;
            }
        }
    }

    &--price {
        &:before {
            right: 248px;
            @include mixin.media-sp() {
                right: 20.4%;
            }
        }
    }
}


