@use "../foundation/var";
@use "../foundation/mixin";


/*--------------------------------------------------------------------------
  mv
---------------------------------------------------------------------------*/

.mv {
    position: relative;
    background: var.$color-lg-green-to-orange;
    width: 100%;
    height: 100vh;
    padding: 20px;
    @include mixin.media-sp() {
        height: auto;
        padding: 16px;
        margin-top: var.$header-height;
    }
}

.mv__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var.$color-white;
    @include mixin.media-sp() {
        align-items: flex-start;
        padding-bottom: 92px;
    }
}

.mv__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86.5vw;
    @include mixin.media-sp() {
        flex-direction: column;
        width: 80.8vw;
    }
}

.mv__ornament {
    position: absolute;
    width:  14.55vw;
    @include mixin.media-sp() {
        display: none;
    }

    &--green {
        top: -24%;
        right: -36px;
    }

    &--orange {
        bottom: -28%;
        left: -36px;
    }
}

.mv__leftContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    @include mixin.media-sp() {
        margin-top: 60px;
    }
}

.mv__rightContainer {
    @include mixin.media-sp() {
        margin-top: 40px;
    }
}

.mv__liquidShape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 72%;
    height: 0;
    padding-bottom: 72%;
    background: linear-gradient(45deg, rgba(125, 212, 110, 0.08) 0%, rgba(240, 213, 68, 0.08) 100%);
    animation: liquidShape 20s ease 0s infinite;
    @include mixin.media-sp() {
        height: 38px;
        width: 48%;
        padding-bottom: 48%;
    }

    &--reverse {
        animation: liquidShape 12s ease 0s infinite;
        animation-direction: alternate;
        opacity: 0.4;
    }
}

.mv__textWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    @include mixin.media-sp() {
        gap: 16px;
    }
}

.mv__tagline {
    @include mixin.font-style($s: fs-40, $w: bold);
    font-size: 2.645vw; // レスポンシブ対応のためfont-size上書き
    color: var.$color-primary;
    @include mixin.media-sp() {
        font-size: 6.4vw;
    }
}

.mv__description {
    @include mixin.font-style($lh: none);
    font-size: 1.058vw; // レスポンシブ対応のためfont-size上書き
    color: var.$color-text-green;
    @include mixin.media-sp() {
        font-size: 4.5vw;
    }
}

.mv__movieWrap {
    position: relative;
    text-align: center;
}

.mv__movie {
    position: relative;
    width: 48.67vw;
    @include mixin.media-sp() {
        width: 100%;
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 8px;
        display: block; 
        position: absolute;
        top: 40px;
        left: 40px;
        background: linear-gradient(45deg, rgba(125, 212, 110, 0.08) 0%, rgba(240, 213, 68, 0.08) 100%);
        @include mixin.media-sp() {
            top: 12px;
            left: 12px;
        }
    }

    > video {
        position: relative;
        z-index: 1;
        border-radius: 8px;
    }
    
}

.mv__movieLink {
    @include mixin.hover-button-gto();
    display: inline-block;
    padding: 28px 24px;
    margin: 0 auto;
    position: relative;
    top: -24px;
    z-index: 2;
    @include mixin.media-sp() {
        padding: 20px 20px 24px;
        top: -12px;
    }
}

.mv__movieLinkText {
    @include mixin.font-style($w: bold);
    color: var.$color-white;
    display: flex;
    align-items: center;
    gap: 8px;
    @include mixin.media-sp() {
        @include mixin.font-style($s: fs-14, $w: bold);
    }
}

// liquid shape animation
@keyframes liquidShape {  
    
    0%, 100% {
        border-radius: 46% 54% 70% 30% / 48% 37% 63% 52%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
        
}

.mv__scrollLine {
    position:absolute;
    left:50%;
    bottom:0;
    height:133px;
    @include mixin.media-sp() {
        height: 92px;
    }

    &::before {
        content: " ";
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        background: #BBF8E9;
        display: block;
    }

    &::after {
        content: "";
            /*描画位置*/
        position: absolute;
        top: 0;
            /*線の形状*/
        width: 1px;
        height: 100%;
        background: var.$color-primary;
            /*線の動き1.4秒かけて動く。永遠にループ*/
        animation: scrollLinePC 1.4s ease-in-out infinite;
        opacity:0;
        display: block;
        @include mixin.media-sp() {
            animation: scrollLineSP 1.4s ease-in-out infinite;
        }
    }
}

.mv__scrollText {
    @include mixin.font-style($s: fs-12, $w: bold);
    line-height: 1.2;
    font-family: var.$font-en;
    position: absolute;
    left: 12px;
    top: 8px;
    color: var.$color-primary;
    @include mixin.media-sp() {
        font-size: 10px;
        line-height: 1.1;
    }
}

// scroll line animation
@keyframes scrollLinePC {
    0%{
      height: 0;
      top: 0;
      opacity: 0;
    }
    30%{
      height: 60px;
      opacity: 1;
      @include mixin.media-sp() {
        height: 30px;
      }
    }
    100%{
      height: 0;
      top: 132px;
      opacity: 0;
      @include mixin.media-sp() {
        top: 102px;
      }
    }
}
@keyframes scrollLineSP {
    0%{
      height: 0;
      top: 0;
      opacity: 0;
    }
    30%{
      height: 30px;
      opacity: 1;
    }
    100%{
      height: 0;
      top: 92px;
      opacity: 0;
    }
}




/*--------------------------------------------------------------------------
  about us
---------------------------------------------------------------------------*/
#top {

    .aboutUs {
        max-width: 800px;
        margin: 0 auto;
        @include mixin.media-sp() {
            max-width: 100%;
        }
    }
    
    .aboutUs__tabButtonList {
        max-width: 492px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        @include mixin.media-sp() {
            max-width: 100%;
        }
    }
    
    .aboutUs__tabButtonItem {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 8px;
        width: 216px;
        height: 216px;
        background-color: var.$color-primary;
        box-shadow: 0px 4px 4px rgba(4, 83, 41, 0.16);
        border: 4px solid var.$color-primary;
        transition: background-color .3s, border .3s;
        &:hover {
            background-color: var.$color-primary-dark;
        }
        @include mixin.media-sp() {
            width: 43.73vw;
            height: auto;
            padding: 20px 0;
        }
    
        &.is-active {
            border: 4px solid  var.$color-primary-dark;
            background-color: var.$color-primary;
        }
    }
    
    .aboutUs__tabButtonInner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
    
    .aboutUs__tabButtonIcon {
        &--crowdfunding {
            @include mixin.media-sp() {
                width: 36px;
            }
        }
        &--price {
            @include mixin.media-sp() {
                width: 28px;
            }
        }
    }
    
    .aboutUs__tabButtonText {
        @include mixin.font-style($s: fs-14, $w: bold, $a: center);
        color: var.$color-white;
        @include mixin.media-sp() {
            @include mixin.font-style($s: fs-12, $w: bold, $a: center);
        }
    }
    
    .aboutUs__tabContentContainer {
        margin-top: 36px;
    }
    
    .aboutUs__tabContent {
        position: relative;
        padding: 32px 28px;
        background-color: var.$color-primary-light;
        display: none;
        &:before {
            content: " ";
            display: block;
            position: absolute;
            top: -24px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 14px 24px 14px;
            border-color: transparent transparent var.$color-primary-light transparent;
        }
        &.is-active {
            display: block;
        }
    
        &--crowdfunding {
            &:before {
                left: 248px;
                @include mixin.media-sp() {
                    left: 20.4%;
                }
            }
        }
    
        &--price {
            &:before {
                right: 248px;
                @include mixin.media-sp() {
                    right: 20.4%;
                }
            }
        }
    }
    
    .aboutUs__moreButton {
        margin-top: 60px;
        @include mixin.media-sp() {
            margin-top: 48px;
        }
    }

}




/*--------------------------------------------------------------------------
  strength
---------------------------------------------------------------------------*/
#top {

    .strength__container {
        background-color: var.$color-white;
        border-radius: 8px;
        max-width: 1018px;
        width: 100%;
        padding: 64px 68px;
        @include mixin.media-sp() {
            padding: 32px 28px;
        }
    }

    .stregth__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mixin.media-sp() {
            flex-direction: column;
            gap: 36px;
        }
    }

    .strength__textBox {
        display: grid;
        max-width: 380px;
        gap: 24px;
        @include mixin.media-sp() {
            max-width: 100%;
            gap: 12px;
        }
    }

    .strength__h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .strength__h3Icon {
        @include mixin.media-sp() {
            width: 20px;
        }
    }

    .strength__h3Text {
        @include mixin.font-style($s: fs-20, $w: bold);
        color: var.$color-primary;
        @include mixin.media-sp() {
            @include mixin.font-style($s: fs-16, $w: bold);
        }
    }

    .strength__hr {
        width: 1px;
        height: 80px;
        background-color: #E6EBF0;
        @include mixin.media-sp() {
            display: none;
        }
    }

}




/*--------------------------------------------------------------------------
  works
---------------------------------------------------------------------------*/
#top {

    .works__container {
        width: 100%;
        background-image: url('#{var.$assetsPath}img/index/ornaments/bg_works.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
        display: flex;
        justify-content: center;
    }

    .works__cardContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        -webkit-box-align: start;
        max-width: 920px;
        gap: 80px;
        @include mixin.media-pc() {
            &::after {
                content: "";
                display: block;
                width: 420px;
            }
        }
        @include mixin.media-sp() {
            gap: 20px;
            justify-content: center;
            flex-direction: column;
        }
    }


}




/*--------------------------------------------------------------------------
  plan
---------------------------------------------------------------------------*/
#top {

    .plan__container {
        max-width: 420px;
        box-sizing: border-box;
        border-radius: 16px;
        border: 2px solid var.$color-primary-dark;
        background-color: var.$color-white;
        overflow: hidden;
    }

    .plan__h3 {
        @include mixin.font-style($s: fs-20, $w: bold, $a: center, $lh: none);
        color: var.$color-white;
        padding: 24px 0;
        background-color: var.$color-primary;
    }

    .plan__inner {
        padding: 24px 24px 40px;
        @include mixin.media-sp() {
            padding: 20px 12px 40px;
        }
    }

    .plan__price {
        @include mixin.font-style($s: fs-36, $w: bold, $a: center);
    }

    .plan__supplement {
        @include mixin.font-style($s: fs-12, $w: bold, $a: center);
    }

    .plan__priceDescription {
        margin-top: 24px;
    }

    .plan__areaContainer {
        margin-top: 40px;
    }

    .plan__areaLabel {
        @include mixin.font-style($s: fs-12, $w: bold);
    }

    .plan__areaWrap {
        margin-top: 12px;
        border-radius: 2px;
        padding: 20px 16px;
        background-color: #F8FAFC;
    }

    .plan__areaDescription {
        @include mixin.font-style($s: fs-14, $a: center);
        @include mixin.media-sp() {
            @include mixin.font-style($s: fs-12);
        }
    }

    .plan__moreButton {
        margin-top: 60px;
        @include mixin.media-sp() {
            margin-top: 48px;
        }
    }

}




/*--------------------------------------------------------------------------
  flow
---------------------------------------------------------------------------*/
#top {

    .flow__container {
        max-width: 1120px;
        @include mixin.media-pc() {
            margin: 52px 40px 0 40px;
        }
        @include mixin.media-sp() {
            margin-top: 16px;
        }
    }

    .flow__list {
        display: flex;
        justify-content: center;
        @include mixin.media-sp() {
            flex-direction: column;
            width: 100%;
        }
    }

    .flow__item {
        display: flex;
        align-items: stretch;
        @include mixin.media-sp() {
            flex-direction: column;
            align-items: center;
        }

        &--afterLine {
            &::after {
                content: '';
                width: 80px;
                background-image: url('#{var.$assetsPath}img/index/ornaments/flow_vetical_line.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                @include mixin.media-sp() {
                    width: 80px;
                    height: 80px;
                    transform: rotate(90deg);
                }
            }
        }
    }

    .flow__itemInner {
        position: relative;
        background-color: var.$color-white;
        border-radius: 8px;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
        max-width: 320px;
        padding: 32px 24px 40px 24px;
        @include mixin.media-sp() {
            max-width: 100%;
            width: 100%;
        }
    }

    .flow__count {
        @include mixin.font-style($s: fs-64, $w: bold);
        font-family: var.$font-en;
        color: var.$color-primary;
        position: absolute;
        left: -20px;
        top: -60px;
        @include mixin.media-sp() {
            left: 20px;
        }

        &--orange {
            color: var.$color-secndary;
        }
    }

    .flow__h3 {
        @include mixin.font-style($s: fs-20, $w: bold, $a: center, $lh: none);
        color: var.$color-primary;
        padding-bottom: 32px;
        border-bottom: 1px solid #EEE;

        &--orange {
            color: var.$color-secndary;
        }
    }

    .flow__description {
        margin-top: 32px;
    }

    .flow__bottomLine {
        margin: 12px 0;
        @include mixin.media-sp() {
            width: 80px;
            height: 80px;
            margin: 12px auto;
        }
    }

}